
* containter {
    margin: 0;
    padding: 50;
    box-sizing: border-box;}

    body {
        height: 100%;
        }
        body {
        min-height: 100vh;
        background-color: #FFE4D6;
        }
        main, header, footer {
            padding: 20px;
            border: 1px solid #00000000;
            color: #141414;
            padding: 100;
            }
            
            header,footer {
            height: 20vh;
            }
            main {
            height: 60vh;
            background-color: #FACBEA;
            }
            
            h1{
    color: #B0578D;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}
.lead {
    font-style: italic;
}



main, header, footer {
    padding: 40px;
    border: 2px 
    color#141414
}

body {
    padding: 200px;
    border: 2px 
    }

img{
    max-width: 50%;
    max-height: 50%;
    border: 2px;
    text-align: center;
    height, footer: 20vh;
    
  
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }

     