h1{
    color: rgb(56, 19, 90);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}
.lead {
    font-style: italic;
}



main, header, footer {
    padding: 40px;
    border: 2px 
    color#141414
}

body {
    padding: 40px;
    border: 2px 
    
    
}

img{
    max-width: 50%;
    max-height: 50%
    border: 2px 
    text-align: center
  
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }