h1{
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}
.lead {
    font-style: italic;
}



main, header, footer {
    padding: 40px;
    border: 2px solid#000000
    color#141414
}

body {
    padding: 40px;
    border: 2px solid#000000
    color#141414
    
}

